@media screen and (max-width: 768px) {
  .Panel2 {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    text-align: center;
  }

  .Pollo {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  .Menux {
    width: 32px;
    height: 32px;
    margin-top: 0.5rem;
  }

  .Caja2 li {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  .Cajaf img {
    width: 60px;
    height: 60px;
  }

  .CajaGit {
    flex-direction: column;
    align-items: center;
  }

  .Imagenp {
    margin-top: -15rem;
    padding: 0 1rem;
  }

  .Imagenp img {
    width: 100%;
    height: auto;
  }
}
